<div id="gallery">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "armympcornhole.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Army MP Cornhole Board
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
       <%= image_tag "barstools.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Bar Stools
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "cart.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Rolling Island
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "customamericanflag.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Custom American Flag
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "diningtable.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Dining Table
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "extendedshelves.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Pantry Shelves
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "lsucornhole.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            LSU Cornhole Boards
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "kitchenoutdoor.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Custom Outdoor Cabinets
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "dogwalk.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Foldable Doggy Ramp
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
       <%= image_tag "laflag.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Custom Flags
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "lightweightcornhole.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Custom Lightweight Cornhole Boards
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "lsu.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Custom Washers Boards
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
       <%= image_tag "workshop.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Custom Workshop Cabinets
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "wallart.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Custom Wall Art
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "manypens.jpg", width: 250, height: 300 %>
        <div class="caption">
          <h4>
            Custom Pens
          </h4>
          <p>
            <a class="btn btn-secondary" href="#">More Info</a> <a class="btn btn-secondary" href="#">Add to Order</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>